/* Menu de navegacion superior*/

.nav-main {
    font-size: 25px;
    display: flex;
    /* se puede poner uno al lado del otro*/
    justify-content: space-between;
    /*utiliza todo el ancho disponible*/
    align-items: center;
    height: 70px;
    padding: 0px;
    background: #000063;
}

.navbar-brand {
    color: #fff;
    font-family: 'Encode Sans', sans-serif;
}


/*MMODIFICACION DEL LOGO*/

.nav-brand {
    padding: 15% 0;
    width: 80px;
}


/* NAV Right*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
    flex: 1;
}


/* REDES SOCIALES */

.social {
    margin: 100px;
    padding: 0px;
    align-items: flex-end
}

.links a {
    margin: 0 10px;
}

.links a i {
    font-size: rem;
    color: #fff;
}