/*---------------CATEGORIA ACERCA DE...---------*/

.barra {
    background-color: #141414;
}

.textoacercade {
    font-size: 12px;
}

.textSobremi {
    width: 50%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: rgba(2, 40, 102, 0.1);
    border-radius: 60px 60px 60px 60px;
    padding: 1%;
    text-shadow: 4px 4px 4px #0043a7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
}

.acercade {
    display: flex;
    /*background: url("./imagenes//datos2.jpeg") no-repeat center center/cover;
*/
    color: #fff;
    background: #141414;
}

.Cuadro {
    background: rgba(33, 37, 41, 1);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    height: auto;
    justify-content: center;
    width: 80%;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0043a7;
}

.acercade .content {
    background: rgba(162, 175, 188, 0.3);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    color: #bdbdbd
}

.acercade h1 {
    font-size: 35px;
    text-align: center;
}

.content .datos {
    display: flex;
    padding: 5%;
}

.content .datos div {
    margin: 0 2%
}

.Datosright {
    text-align: justify;
}

.datos p {
    padding: 1%;
}

.fotoperfil {
    width: 200px;
}