/*---------------CATEGORIA ACERCA DE...---------*/

.acercade {
    display: flex;
    /*background: url("./imagenes//datos2.jpeg") no-repeat center center/cover;
*/
    color: #bdbdbd;
    width: 100vw;
    height: 100vh;
    background: #000063;
}

.acercade .content {
    background: rgba(162, 175, 188, 0.3);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    height: auto;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    color: #bdbdbd
}

.fotoacercade img {
    width: 200px;
    border-radius: 100%;
}

.fotoacercade {
    width: 30%;
    background: #212121;
    color: #fff;
    display: grid;
    place-items: center;
    text-shadow: 2px 2px 0px #0043a7;
}

.acercade h1 {
    font-size: 35px;
    text-align: center;
}

.content .datos {
    display: flex;
    padding: 5%;
}

.content .datos div {
    margin: 0 2%
}

.Datosright {
    text-align: justify;
}

.datos p {
    padding: 1%;
}

.fotoperfil {
    width: 200px;
}