<!-- HARD SOFT AND SKILLS -->
<div class="barra">
    <div class="textHyS"><br>
        <h1><b>Hard & soft skills:</b></h1>
        <br>
    </div>
</div>
<section class="hard-soft-skills">
    <div class="content col-sm-3 col-md-3 col-lg-3">
        <div *ngIf="isAdmin">
            <button (click)="onOpenHardSoftSkillsModal(null!, 'add')" type="button" class="btn btn-primary"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="hardSoftSkills2" id="main-hardSoftSkills">
            <div class="container">
                <div class="row">
                    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hardSoftSkills of hardSoftSkillss">
                        <div class="float-right btn-group btn-group-sm" *ngIf="isAdmin">
                            <a (click)="onOpenHardSoftSkillsModal(hardSoftSkills, 'edit')" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a (click)="onOpenHardSoftSkillsModal(hardSoftSkills, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </div>
                        <br>
                        <br>

                        <div class="card text-white bg-dark mb-3" style="max-width: 60rem;" id="pcuadro">
                            <div class="card-header">{{hardSoftSkills.nombre}}</div>
                            <div class="card-body">
                                <div class="text-center">
                                    <circle-progress [imageSrc]="hardSoftSkills.link" [imageHeight]="40" [imageWidth]="40" [showImage]="true" [percent]="hardSoftSkills.nivel" [radius]="40" [title]="hardSoftSkills.nombre" [titleColor]="'white'" [showSubtitle]="false" [showUnits]="false"
                                        [outerStrokeWidth]="8" [innerStrokeWidth]="2" [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true" [animationDuration]="600">
                                    </circle-progress>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Add Employee Modal -->
<div class="modal fade" id="addHardSoftSkillsModal" tabindex="-1" role="dialog" aria-labelledby="addHardSoftSkillsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addHardSoftSkillsModalLabel">Agregar otra HardSoftSkills:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddHardSoftSkills(addForm)">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre:</b></label>
                        <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre">
                    </div>
                    <input type="hidden" ngModel name="id" id="id" class="form-control" placeholder="Email">
                    <div class="form-group">
                        <label for="nivel"><b>Porcentaje:</b></label>
                        <input type="text" ngModel name="nivel" id="nivel" class="form-control" placeholder="Porcentaje">
                    </div>
                    <div class="form-group">
                        <label for="link"> <b>Imagen link:</b></label>
                        <input type="text" ngModel name="link" id="link" name="link" class="form-control" placeholder="Imagen Link">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-hardSoftSkills-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->

<div class="modal fade" id="updateHardSoftSkillsModal" tabindex="-1" role="dialog" aria-labelledby="hardSoftSkillsEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="updateHardSoftSkillsModalLabel"><b>Editar sección HardSoftSkills:</b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre:</b></label>
                        <input type="text" ngModel="{{editHardSoftSkills?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                    </div>
                    <input type="hidden" ngModel="{{editHardSoftSkills?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    <div class="form-group">
                        <label for="nivel"><b>Porcentaje:</b></label>
                        <input type="text" ngModel="{{editHardSoftSkills?.nivel}}" name="nivel" class="form-control" id="nivel" aria-describedby="emailHelp" placeholder="Porcentaje">
                    </div>

                    <div class="form-group">
                        <label for="link"> <b>Imagen link:</b></label>
                        <input type="text" ngModel="{{editHardSoftSkills?.link}}" name="link" class="form-control" id="link" name="link" placeholder="Link">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-hardSoftSkills-form" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                        <button (click)="onUpdateHardSoftSkills(editForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteHardSoftSkillsModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete HardSoftSkills</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar a {{eliminarHardSoftSkills?.nombre}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteHardSoftSkills(eliminarHardSoftSkills.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>