/* HARD Y SOFT SKILLS*/

.row {
    padding: 20px;
}

.hard-soft-skills {
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    background: #000063;
}

.hard-soft-skills .content {
    background: rgba(162, 175, 188, 0.3);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    height: auto;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    color: #bdbdbd
}

.hardsoftimg img {
    width: 100%;
}

.hardsoftimg {
    display: grid;
    place-items: center;
    text-shadow: 2px 2px 0px #0043a7;
}

.hardsoftimg {
    width: 30%;
    background: #212121;
    color: #fff;
    padding-left: auto;
    padding-right: auto;
}

.hardsoftimg h1 {
    font-size: 35px;
    text-align: center;
}