<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Sitio web desarrollado por Pablo Hormazabal - 2022</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-6 col-lg-6">
                <div class="logointi">
                    <img src="https://argentinaprograma.inti.gob.ar/theme/moove/pix/LogosInti.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-sm-6 col-lg-6">
                <div class="logoarg">
                    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1650945414/APLogo-20-20.png" alt="">
                </div>
            </div>

        </div>
    </div>

</footer>