<footer>

    <div class="formulario">
        <form>
            <h3>Contacto</h3>
            <input type="text" class="field" placeholder="Nombre">
            <br>
            <input type="number" class="field" placeholder="Celular/telefono">
            <br>
            <input type="email" class="field" placeholder="E-mail">
            <br>
            <input type="text" class="field" placeholder="Escriba su mensaje aqui...">
            <br>
            <input type="submit" class="field">
        </form>

    </div>
    <p>Sitio web desarrollado por Pablo Hormazabal - 2022</p>
</footer>