<!-- EXPERIENCIA -->
<div class="barra">
    <div class="textExperiencia"><br>
        <h1><b>Experiencia:</b></h1>
        <br>
    </div>
</div>
<section class="experiencia">
    <div class="container">
        <div *ngIf="isAdmin" id="agre">
            <button (click)="onOpenExperienciaModal(null!, 'add')" type="button" class="btn btn-primary"><i
                    class="fa-solid fa-plus"></i></button>
        </div>
        <div class="experiencia2" id="main-experiencia">
            <div *ngFor="let experiencia of experiencias">
                <br>
                <div class="float-right btn-group btn-group-sm" *ngIf="isAdmin" id="botones">
                    <a (click)="onOpenExperienciaModal(experiencia, 'edit')" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a (click)="onOpenExperienciaModal(experiencia, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
                <br><br>
                <div class="Cuadro">
                    <h2>
                        {{experiencia?.nombre}}
                    </h2>
                    <hr>
                    <p>
                        {{experiencia?.descripcion}}
                    </p>
                    <br>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</section>

<!-- Add Employee Modal -->
<div class="modal fade" id="addExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="addExperienciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExperienciaModalLabel">Agregar otra Experiencia:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre:</b></label>
                        <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre">
                    </div>
                    <input type="hidden" ngModel name="id" id="id" class="form-control" placeholder="Email">
                    <div class="form-group">
                        <label for="descripcion"> <b>Descripcion:</b></label>
                        <input type="text" ngModel name="descripcion" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion">
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="add-experiencia-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->

<div class="modal fade" id="updateExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="experienciaEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="updateExperienciaModalLabel"><b>Editar sección Experiencia:</b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="nombre"><b>Nombre:</b></label>
                        <input type="text" ngModel="{{editExperiencia?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                    </div>
                    <input type="hidden" ngModel="{{editExperiencia?.id}}" name="id" class="form-control" id="id" placeholder="Email">

                    <div class="form-group">
                        <label for="descripcion"> <b>Descripcion:</b></label>
                        <input type="text" ngModel="{{editExperiencia?.descripcion}}" name="descripcion" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-experiencia-form" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                        <button (click)="onUpdateExperiencia(editForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar a {{eliminarExperiencia?.nombre}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteExperiencia(eliminarExperiencia.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>