/*EXPERIENCIA*/

.experiencia {
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    color: #bdbdbd;
    /*
    width: 100vw;
    height: 100vh;*/
    background: #000063;
}

.experiencia .content {
    background: rgba(162, 175, 188, 0.3);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    height: auto;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    width: 70%;
    color: #bdbdbd
}

.experienciaimg img {
    width: 70%;
}

.experienciaimg {
    width: 30%;
    background: #212121;
    padding: 10px;
    color: #fff;
    padding-left: auto;
    padding-right: auto;
    display: grid;
    place-items: center;
    text-shadow: 2px 2px 0px #0043a7;
}

.experienciaimg h1 {
    font-size: 35px;
    text-align: center;
}