/* EDUCACION*/

.barra {
    background-color: #141414;
}

img {
    width: 50px;
}

.textEducacion {
    width: 50%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: rgba(2, 40, 102, 0.1);
    border-radius: 60px 60px 60px 60px;
    padding: 1%;
    text-shadow: 4px 4px 4px #0043a7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
}

.educacion {
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    background: #141414;
}

#botones {
    margin-left: 15%;
}

.Cuadro {
    background: rgba(162, 175, 188, 0.1);
    /*border-radius: 60px 60px 60px 60px;*/
    padding: 2%;
    height: auto;
    justify-content: center;
    width: 80%;
    color: #fff;
    border-radius: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0043a7;
}

.Cuadro h2:hover {
    font-weight: bold;
}

.Cuadro:hover {
    box-shadow: #0043a7 0 0 5px 5px;
}

#agre {
    margin-left: 15%;
}