<!-- EDUCACION -->
<section class="educacion">
    <div class="imageneducacion">
        <img src="assets/img/educacion2.png" alt="">
        <h1>
            Educación
        </h1>
    </div>
    <div class="content">
        <div class="educacion2" id="main-educacion">
            <div>
                <button (click)="onOpenModal(null!, 'add')" type="button" class="btn btn-primary">Agregar</button>
            </div>
            <div *ngFor="let educacion of educacions">
                <div class="logoyedu">
                    <div>
                        <img [src]="educacion.imagenEducacion">
                    </div>
                    <div class="textedu">
                        <h2>
                            {{educacion.titulo}}
                        </h2>
                        <p>
                            {{educacion.descripcion}}
                        </p>
                        <p>{{educacion.fechainicio}} - {{educacion.fechafinal}}</p>
                    </div>
                    <br>
                </div>
                <div class="float-right btn-group btn-group-sm">
                    <a (click)="onOpenModal(educacion, 'edit')" class="btn btn-success tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i>Editar </a>
                    <a (click)="onOpenModal(educacion, 'delete')" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>


<!-- Add Educacion Modal -->
<div class="modal fade" id="addEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEducacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEducacionModalLabel">Agregar otra Educacion:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
                    <div class="form-group">
                        <label for="nombre"><b>Institucion:</b></label>
                        <input type="text" ngModel name="titulo" class="form-control" id="titulo" placeholder="Nombre de la Institución">
                    </div>
                    <input type="hidden" ngModel name="email" class="form-control" id="email" placeholder="Email">
                    <div class="form-group">
                        <label for="celular"> <b>Descripcion:</b></label>
                        <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion">
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b>Fecha de Inicio:</b></label>
                        <input type="text" ngModel name="fechainicio" class="form-control" id="fechainicio" placeholder="fecha de inicio">
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b>Fecha de Finalizacion:</b></label>
                        <input type="text" ngModel name="fechafinal" class="form-control" id="fechafinal" placeholder="fecha de finalizacion">
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b>URL imagen:</b></label>
                        <input type="text" ngModel name=" imagenEducacion" class="form-control " id="imagenEducacion" placeholder="URL imagen">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-educacion-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->

<div class="modal fade" id="updateEducacionModal" tabindex="-1" role="dialog" aria-labelledby="educacionEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="updateEducacionModalLabel"><b>Editar sección Educacion:</b></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="titulo"><b>Institucion:</b></label>
                        <input type="text" ngModel="{{editEducacion?.titulo}}" name="titulo" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Nombre de la Institución">
                    </div>
                    <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    <div class="form-group">
                        <label for="descripcion"> <b>Descripcion:</b></label>
                        <input type="text" ngModel="{{editEducacion?.descripcion}}" name="descripcion" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion">
                    </div>
                    <div class="form-group">
                        <label for="fechainicio"><b>Fecha de Inicio:</b></label>
                        <input type="text" ngModel="{{editEducacion?.fechainicio}}" name="fechainicio" class="form-control" id="fechainicio" aria-describedby="emailHelp" placeholder="fecha de inicio">
                    </div>
                    <div class="form-group">
                        <label for="fechafinal"><b>Fecha de Finalizacion:</b></label>
                        <input type="text" ngModel="{{editEducacion?.fechafinal}}" name="fechafinal" class="form-control" id="fechafinal" aria-describedby="emailHelp" placeholder="fecha de finalizacion">
                    </div>
                    <div class="form-group">
                        <label for="imagenEducacion"><b>URL imagen:</b></label>
                        <input type="text" ngModel="{{editEducacion?.imagenEducacion}}" name=" imagenEducacion" class="form-control " id="imagenEducacion" aria-describedby="emailHelp " placeholder="URL imagen">
                    </div>
                    <div class="modal-footer ">
                        <button type="button " id="add-educacion-form " data-dismiss="modal" class="btn btn-secondary ">Cerrar</button>
                        <button (click)="onUpdateEducacion(editForm.value) " data-dismiss="modal" class="btn btn-primary ">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEducacionModal" tabindex="-1" role="dialog" aria-labelledby="educacionModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Educacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que desea eliminar a {{eliminarEducacion?.titulo}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteEducacion(eliminarEducacion.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>