/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans";
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
    box-sizing: border-box;
    /* espaciado interno y externo ocupan un unico espaciado*/
    margin: 0;
    padding: 0;
}


/*el color de argentina programa es #34bcec*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #141414;
}


/* Decoracion para los textos que redireccionan*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

hr {
    margin: 0px;
    background-color: #0043a7;
    box-shadow: #0043a7 0 0 1px 1px;
}